/* line 1, ../sass/print.scss */
html, body {
  background: white;
  font-size: 12pt !important;
}

/* line 35, ../sass/print.scss */
.row .one,
.row .two,
.row .three,
.row .four,
.row .five,
.row .six,
.row .seven,
.row .eight,
.row .nine,
.row .ten,
.row .eleven,
.row .twelve,
.row .offset-by-one,
.row .offset-by-two,
.row .offset-by-three,
.row .offset-by-four,
.row .offset-by-five,
.row .offset-by-six,
.row .offset-by-seven,
.row .offset-by-eight,
.row .offset-by-nine,
.row .offset-by-ten,
.row .centered,
.row .offset-by-one:first-child,
.row .offset-by-two:first-child,
.row .offset-by-three:first-child,
.row .offset-by-four:first-child,
.row .offset-by-five:first-child,
.row .offset-by-six:first-child,
.row .offset-by-seven:first-child,
.row .offset-by-eight:first-child,
.row .offset-by-nine:first-child,
.row .offset-by-ten:first-child,
.row .offset-by-eleven:first-child {
  margin: 0 !important;
  width: auto !important;
  float: left !important;
}

/* line 36, ../sass/print.scss */
.print-only {
  display: none !important;
}

/* line 37, ../sass/print.scss */
a:link, a:visited {
  color: #666 !important;
}

/* line 45, ../sass/print.scss */
.post-entry .feature-image,
.post-single-sidebar-content,
.wrapper.footer,
.primary-nav,
#nav-toggle,
.post-single-nav,
.project-single-nav {
  display: none;
}

/* line 49, ../sass/print.scss */
a.logo {
  visibility: hidden;
}

/* line 53, ../sass/print.scss */
a.logo img {
  visibility: visible;
  width: 100px;
}

/* line 59, ../sass/print.scss */
.post-entry,
.content.wrapper {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 64, ../sass/print.scss */
.content-box {
  background: transparent !important;
}

/* line 67, ../sass/print.scss */
p {
  background: transparent !important;
}
