#magazine{

		position: block;

}
#magazine .turn-page{
		background-color:#ccc;
		//background-size:100% 100%;
}

.pageimage{
	//width:100%
}

#map{
	width:1160px;
	height:652px;
	margin-bottom:20px;	
}

.button-group li{
	padding-right:20px;	
}