#magazine{

		position: block;

}
#magazine .turn-page{
		background-color:#ccc;
		//background-size:100% 100%;
}

.pageimage{
	//width:100%
}

#stateMap{
	width:100%;
	height:100%;
	margin-bottom:20px;	
}

.button-group li{
	padding-right:20px;	

}